<h1>List of the Course names</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<%= link_to 'New Coursename', new_coursename_path %>

<%= alphabetical_paginate @alphaParams %>

<div id="pagination_table">
  <% Coursename.order("name").each do |coursename| %>
      <tr>
        <td><%= coursename.name %></td>
        <td><%= link_to 'Show', coursename %></td>
        <td><%= link_to 'Edit', edit_coursename_path(coursename) %></td>
        <td><%= link_to 'Destroy', coursename, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Coursename', new_coursename_path %>
