<% provide(:title, 'Edit Course') %>
<h1>Course EDIT </h1>

<div class="row">
	<div class="span3 offset3">
		<%= form_for (@course) do |f| %>
	
	<%= f.label :Type_of_Institution %>
	<%= f.select :institutiontype, options_for_select(%w[University College]) %>
		
    <div class="field">  
    <%= f.label :Institution %>
    <%= f.collection_select  :institution, Institution.order("name").all, :name, :name, :include_blank => false %>
    </div>

    <div class="field">  
    <%= f.label :Coursename %>
    <%= f.collection_select  :coursename, Coursename.order("name").all, :name, :name,  :include_blank => false %>
    </div>
           
	<%= f.label :Full_time_or_Part_time %>
	<%= f.select :ftpt, options_for_select(%w[Full-Time Part-Time]) %>

	<%= f.label :Course_Duration %> 
	<%= f.select :duration, options_for_select(%w[6-Years 5-Years 3-Years 4-Years 2-Years 1-Year Not-Specified ]) %>
	 
	<%= f.label :Department %>
	<%= f.text_field :dept %>
	    
    <%= f.label :Course_Code %>
	<%= f.text_field :code %>

	<%= f.label :Course_Description %>
	<%= f.text_field :description %>

	<%= f.submit "SAVE the changes", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
	</div>


