<% provide(:title, 'All courses') %>
<h1>List of Courses</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<%= link_to 'New Course', new_course_path %>



<%= alphabetical_paginate @alphaParams %>

<div id="pagination_table">
  <% Course.order("coursename").each do |course| %>
      <tr>
        <td><%= course.coursename %></td>
        <td><%= course.code %></td>
        <td><%= course.description %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </div>
  </tbody>
</table>

<
   
<br>

<%= link_to 'New Course', new_course_path %>




