<% provide(:title, 'Input') %>
<h1>Input the Course </h1>

<div class="row">
	<div class="span3 offset3">
		<%= form_for(@course) do |f| %>

	<%= f.label :Type_of_Institution %>
	<%= f.select :institutiontype, options_for_select(%w[University College]) %>
		
    <div class="field">
    <%= f.label :Institution %>
    <%= collection_select(:coursename, :id, @all_institution.order("name"), :id, :name, {},) %>
    </div>

	<%= f.label :Full_time_or_Part_time %>
	<%= f.select(:ftpt, [["Full-time", "Full-time"], ["Part-time", "Part-time"]],
			{},	 { :multiple => true, :size => 2}) %>

	<%= f.label :Course_Duration %> 
	<%= f.select :duration, options_for_select(%w[5-Years 3-Years 4-Years 2-Years 1-Year ]) %>
	 
	<%= f.label :Department %>
	<%= f.text_field :dept %>
	    
    <div class="field">
    <%= f.label :Course_name %>
    <%= collection_select(:coursename, :id, @all_coursename.order("name"), :id, :name, {},) %>
    </div>

    <%= f.label :Course_Code %>
	<%= f.text_field :code %>

	<%= f.label :Course_Description %>
	<%= f.text_field :description %>

	<%= f.submit "ADD record", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
	</div>


