<% provide(:title, @course.course) %>

<h1>Course ID :   <%= @course.id %></h1>

<%= @course.institutiontype %>, <%= @course.institution %>, <%= @course.ftpt %>, <%= @course.duration %>, <%= @course.dept %>, <%= @course.course %>, <%= @course.code %>, <%= @course.description %>.

