<% provide(:title, @course.course) %>

<h1>Course:  <%= @course.institution %> <%= @course.coursename %>  (<%= @course.code %>)</h1>

<%= @course.institutiontype %>,
<%= @course.institution %>, 
<%= @course.ftpt %>,
<%= @course.duration %>,
<%= @course.dept %>,
<%= @course.coursename %>,
<%= @course.code %>, 
<%= @course.description %>.

